[Unit]
Description=Home Assistant via Docker Compose
Requires=docker.service
After=network-online.target docker.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/containers/start-homeassistant.sh

[Install]
WantedBy=multi-user.target
