[Unit]
Description=Home Assistant in Docker
Requires=docker.service
After=network-online.target docker.service
StartLimitIntervalSec=0

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker rm -f homeassistant
ExecStart=/usr/bin/docker run --name homeassistant \
    --privileged \
    --restart=unless-stopped \
    -e TZ=Canada/Mountain \
    -v /mnt/homeassistant_config:/config \
    -v /run/dbus:/run/dbus:ro \
    --network=host \
    ghcr.io/home-assistant/home-assistant:stable
ExecStop=/usr/bin/docker stop homeassistant

[Install]
WantedBy=multi-user.target
